{{#each teams as |team|}}
  {{log team}}
  <section data-id="{{team.id}}">
    <h5>Trainer:</h5>
    <h6>
      {{team.user.email}}
    </h6>
    <h5>Nickname:</h5>
    <p>
      {{#if team.nickname}}
        {{team.nickname}}
      {{else}}
        None
      {{/if}}
    </p>
    <h5>Pokemon:</h5>
    <h6>
      {{team.pokemon.pokemon}}
    </h6>
    <h5>Typing:</h5>
    <h6>
      {{team.pokemon.typing}}
    </h6>
    <h5>Tier:</h5>
    <h6>
      {{team.pokemon.tier}}
    </h6>
    <h5>Base Stats:</h5>
    <h6>
      {{team.pokemon.base_stats}}
    </h6>
    <!-- {{> partial}} -->
  <form class="nickname-pokemon" data-team="{{team.id}}" data-pokemon="{{team.pokemon.id}}">
    <input name="team[nickname]" type="text" placeholder="new nickname">
    <button class="btn btn-primary" type="submit">
    <!-- <button data-team="{{team.id}}" data-pokemon="{{team.pokemon.id}}" class="btn btn-primary nickname-pokemon" type="submit"> -->
      {{#if team.nickname}}
        Nickname {{team.nickname}}!
      {{else}}
        Nickname {{team.pokemon.pokemon}}!
      {{/if}}
    </button>
  </form>
    <button data-team="{{team.id}}" class="btn btn-danger remove-pokemon">Remove Pokemon</button>
  </section>

{{/each}}
